// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-phone: 600px;
$layout-breakpoint-xsmall: 480px;

// Colors
$background: #f6f4ff;
$color-primary: #f6f4ff;
$color-secondary: #1b1666;
$color-accent: #6565f4;
